---
import Buttom from "../../components/Buttom.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout >
    <h1 class="text-blue-500">Contactos</h1>
    <Buttom text="Contacto" color="bg-red-500 hover:bg-red-700" />
</Layout>

