---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <div class="w-full mx-auto -mt-26 z-0 relative flex items-center justify-start"  style={
        {
            backgroundImage: "url('/images/aboutUs.jpg')",
            backgroundSize: "cover",
            backgroundPosition: "center",
            height: "calc(60vh - 150px)"
        }
    }>
        <h1 class="text-white text-4xl font-bold mx-15 mt-10 [text-shadow:_2px_2px_4px_rgba(0,0,0,0.7)]">Sobre Nosotros</h1>
    </div>

    <div class="flex flex-col sm:flex-row items-center justify-center gap-8 p-20">
        <div class="flex justify-center items-center flex-col">
            <h2 class="font-extrabold text-4xl">DentalSele</h2>
            <p class="p-5">Bienvenidos a SeleDental, tu clínica dental integral donde combinamos experiencia, tecnología y calidez humana para ofrecerte los mejores tratamientos odontológicos. Nos enorgullece contar con un equipo de profesionales altamente capacitados y en constante actualización, quienes trabajan con equipos de última generación para garantizar diagnósticos precisos y procedimientos seguros. En SeleDental entendemos que cada sonrisa es única, por eso diseñamos planes de tratamiento personalizados que se adaptan a tus necesidades específicas, ya sea que requieras una limpieza rutinaria, un blanqueamiento profesional, ortodoncia con brackets tradicionales o invisibles, implantes dentales permanentes o atención de emergencia. Nuestro moderno consultorio está diseñado para brindarte comodidad y tranquilidad durante tu visita, mientras nuestro personal amable te guía en cada paso del proceso. Facilitamos tu experiencia con múltiples opciones para agendar citas - por teléfono, WhatsApp o nuestro sistema online - y ofrecemos financiamiento accesible para que los tratamientos de calidad estén al alcance de todos. Desde la atención preventiva para los más pequeños hasta complejas rehabilitaciones bucales, en SeleDental nos comprometemos a cuidar la salud de tu sonrisa durante todas las etapas de tu vida. Visítanos y descubre por qué somos la elección preferida de tantas familias para su cuidado dental integral. Tu sonrisa es nuestro mejor aval.</p>
        </div>
        <img class="w-160 h-auto" src="/images/aboutUshome.jpg" alt="clinica">
    </div>

</Layout>