---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <div class="w-full mx-auto -mt-26 z-0 relative flex items-center justify-start"  style={
    {
        backgroundImage: "url('/images/servicesPortada.jpg')",
        backgroundSize: "cover",
        backgroundPosition: "center",
        height: "calc(60vh - 150px)"
    }
}>
    <h1 class="text-white text-4xl font-bold mx-15 mt-10 [text-shadow:_2px_2px_4px_rgba(0,0,0,0.7)]">Servicios</h1>
</div>

    <div class="flex justify-center ">
        <h2>Nuestros Servicios</h2>
    </div>

</Layout>