---
interface Props {
    icon: string,   // Icono SVG o emoji
    link: string    // URL de la red social
}
const { icon, link } = Astro.props;
---
<a href={link} class="w-10 h-10 bg-primary flex items-center justify-center my-6" target="_blank">
    <img src={icon} alt="Social Icon" class="w-6 h-6 ">
</a>
