---
interface Props {
    text: string,
    path: string
}
const {text, path} = Astro.props
---
<a href={`#${path}`} class="text-foreground text-lg py-2 border-primary border-b-1 border-t-1 hover:text-primary-light ">{text}</a>