---
import "../styles/global.css";
import '@fontsource/poppins';
import Search from "../../public/icons/search.svg"
import Logo from "../../public/logo/SeleDental_logo.svg"
import Menu from "../../public/icons/menu.svg"
import Phone from "../../public/icons/phone.svg"
import PhoneFill from "../../public/icons/phone_Fill.svg"
import Mail from "../../public/icons/mail.svg"
import MailFill from "../../public/icons/mail_fill.svg"
import Ancle from "../components/Ancle.astro"
import Row from "../../public/icons/arrow-right.svg"
import FooterText from "../components/FooterText.astro";
import MapPin from "../../public/icons/map-pin.svg"
import SvgAncleFooter from "../components/SvgAncleFooter.astro";
import Facebook from "../../public/icons/facebook.svg";
import Instagram from "../../public/icons/instagram.svg"
import MapPinPin from "../../public/icons/map-pin-pin.svg"
import Youtube from "../../public/icons/youtube.svg"
import X from "../../public/icons/x.svg"
import Clock from "../../public/icons/clock.svg"
import MenuNav from "../components/MenuNav.astro";
import HeaderAncle from "../components/HeaderAncle.astro";
import SvgAncleHeader from "../components/SvgAncleHeader.astro";

---
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <title>Sele Dental</title>
</head>
<body class="relative">
<header id="main-header" class="hidden sm:block w-full h-24 xl:w-full">
    <div class="flex gap-8 flex-row justify-between text-foreground items-center p-2 w-[80%] mx-auto h-full">
        <a href="#"><Logo class="ml-5 p-2 w-40 h-30"  /></a>
        <div class="flex flex-row gap-8">
            <div class="flex flex-row justify-between gap-2">
                <div class="rounded-full bg-primary p-3 text-white">
                    <SvgAncleHeader color="white" link="https://wa.me/5930987220564">
                        <Phone/>
                    </SvgAncleHeader>
                </div>
                <div class="flex flex-col">
                    <HeaderAncle path="https://wa.me/5930987220564" text="+593 98 722 0564" />
                    <HeaderAncle path="https://wa.me/5930939225866" text="+593 93 922 5866"/>
                </div>
            </div>
            <div class="flex flex-row justify-between gap-2">
                <div class="rounded-full bg-primary p-3 text-white">
                    <SvgAncleHeader color="white" link="#">
                        <Mail/>
                    </SvgAncleHeader>

                </div>
                <div>
                    <p>wendysele07@gmail.com</p>
                    <p>wsfloresr@uce.edu.ec</p>
                </div>
            </div>
            <a href="#" class="flex px-5 py-3 bg-primary justify-center items-center text-white rounded-3xl hover:bg-primary-light">
                APPOINTMENT
            </a>
        </div>
    </div>
</header>


<nav id="main-nav" class=" pb-4 h-26 px-4 mx-auto w-[94%] bg-background z-10">
    <div class="bg-primary h-full p-0 flex flex-row justify-between">
        <!--<img class="h-full w-40 sm:hidden p-2" src="/logo/logo_white.svg" alt="Logo"/>-->
        <a href="#"><Logo class="ml-5 w-30 h-auto pt-4 sm:hidden  m-0"  /></a>
        <ul class="hidden sm:flex flex-row items-center text-white uppercase gap-4 justify-between ">
            <Ancle path="inicio" text="Inicio"/>
            <Ancle text="Nosotros" path="Sobre Nosotros"/>
            <Ancle text="Servicios" path="Servicios"/>
            <Ancle text="Contact" path="Contact"/>
            <Ancle text="Blog" path="Blog"/>
        </ul>
        <div class="flex flex-row items-center justify-between gap-4 text-white text-3xl">
            <Menu class="sm:hidden cursor-pointer animate-pulse w-8 h-8" id="main-menu" />
            <Search class=" mr-6 bg-primary cursor-pointer p-2 h-10 w-10" />
        </div>
    </div>
</nav>

<div id="main-menu-nav" class=" flex flex-col gap-5 bg-background m-0 h-full w-1/2 fixed z-20 right-0 top-0 p-6 transform transition-transform duration-500 ease-in-out translate-x-full">
    <div class="flex justify-end items-center w-full">
        <div id="menu-nav-x" class="rounded-full text-background bg-tertiary h-10 w-10 p-2 cursor-pointer" >
            <X/>
        </div>
    </div>

    <label for="search" class="sr-only">Buscar</label>
    <input id="search" type="text" class="text-foreground w-[90%] h-10 p-6 border border-foreground" placeholder="buscar" autocomplete="off"/>
     <div class="flex flex-col gap-0">
         <MenuNav path="Inicio" text="Inicio"/>
         <MenuNav path="Inicio" text="Servicios"/>
         <MenuNav path="Inicio" text="Dentista"/>
         <MenuNav path="Inicio" text="Contacto"/>
     </div>
    <div class="flex flex-col gap-4 text-primary text-3xl pt-4">
        <div class="flex flex-row gap-1">
            <PhoneFill class="w-5 h-5" />
            <a href="https://wa.me/5930987220564" target="_blank"
               class="text-xs text-foreground hover:text-primary"
            >+593 98 722 0564</a>
        </div>
        <div class="flex flex-row gap-1">
            <Mail class="w-5 h-5"/>
            <a href="mailto:wendysele07@gmail.com" target="_blank"
               class="text-xs text-foreground hover:text-primary flex flex-col sm:flex-row"
            ><p>wendysele07</p>
              <p>@gmail.com</p></a>
        </div>
        <div class="flex flex-row gap-1">
            <Clock class="w-5 h-5"/>
            <a href="#" target="_blank"
               class="text-xs text-foreground hover:text-primary"
            >Mon-Fri 8:00-19:00</a>
        </div>
    </div>
    <div class="flex flex-col gap-6 my-2">
        <div class="flex justify-center font-bold text-background p-2 bg-primary hover:bg-background border border-primary hover:text-primary">
            CITA
        </div>
        <div class="flex justify-center font-bold text-primary p-2 bg-background border border-primary hover:bg-primary hover:text-background">
            CALENDARIO
        </div>
    </div>
    <div class="flex flex-col sm:flex-row text-white my-2 gap-3 px-8">
        <div class="flex flex-row gap-3">
            <a href="https://www.facebook.com/" target="_blank"
               class="bg-blue-500 text-blue-100 p-2 hover:bg-background border border-blue-500 hover:text-blue-500">
                <Facebook class="w-5 h-5" />
            </a>
            <a href="https://www.instagram.com/" target="_blank"
               class="bg-purple-950 text-blue-100 p-2 hover:bg-background border border-purple-950 hover:text-purple-950">
                <Instagram class="w-5 h-5" />
            </a>
        </div>
        <div class="flex flex-row gap-3">
            <a href="https://maps.app.goo.gl/RPgafNSsMhcKqNGe7" target="_blank"
               class="bg-cyan-950 text-blue-100 p-2 hover:bg-background border border-cyan-950 hover:text-cyan-950">
                <MapPinPin class="w-5 h-5" />
            </a>
            <a href="https://www.youtube.com/" target="_blank"
               class="bg-red-600 text-blue-100 p-2 hover:bg-background border border-red-600 hover:text-red-600">
                <Youtube class="w-5 h-5" />
            </a>
        </div>
    </div>


</div>

<slot/>


<footer class=" bg-tertiary text-white h-auto w-full pt-20 pb-10 px-8">
    <div class="grid grid-cols-2 md:grid-cols-4 gap-6 max-w-6xl mx-auto">
        <div>
            <h3 class="text-xl font-bold border-b-2 border-primary w-20 hover:w-[65%] transition-all duration-300 mb-8">Medico</h3>
            <div class="flex flex-row text-primary-light my-4">
                <Row width={20} height={20}/> <FooterText text="Mis servicios" path="MyServices"/>
            </div>
            <div class="flex flex-row text-primary-light my-4">
                <Row width={20} height={20}/> <FooterText text="Acuerdos de privacidad" path="Privacy"/>
            </div>
            <div class="flex flex-row text-primary-light my-4">
                <Row width={20} height={20}/> <FooterText text="Testimonios" path="Testimonials"/>
            </div>
            <div class="flex flex-row text-primary-light my-4">
                <Row/> <FooterText text="Agentar Cita" path="AgendCite"/>
            </div>
        </div>
        <div>
            <h3 class="font-bold text-lg pb-2 border-b-2 border-primary w-30 hover:w-[65%] transition-all duration-300 mb-8">Tendencias</h3>
            <div class="mt-3 space-y-4">
                <div class="flex gap-3 flex-col sm:flex-row">
                    <!--version main-->
                    <img src="/images/footer_1.jpg" class="w-25 h-auto object-contain" alt="Dental X-rays"/>
                    <div>
                        <h4 class="font-semibold">Dental X-rays</h4>
                        <p class="text-gray-300 text-sm">Soluciones rapidas y economicas</p>
                        <p class="text-gray-300 text-sm">Soluciones profesionales</p>
                    </div>
                </div>
                <div class="flex gap-3 flex-col sm:flex-row">
                    <img src="/images/footer_2.jpg" class="w-25 h-auto object-contain" alt="Dental X-rays"/>
                    <div>
                        <h4 class="font-semibold">Chequeos de todas las piezas dentales</h4>
                        <p class="text-gray-300 text-sm">Soluciones rapidas y economicas</p>
                        <p class="text-gray-300 text-sm">Solucoines profesionales</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h3 class="font-bold text-lg pb-2 border-b-2 border-primary w-35 hover:w-[65%] transition-all duration-300 mb-8">Promociones</h3>
            <p class="text-gray-300 text-sm my-2">Suscribete y obten descuentos en limpiezas y blanquemientos dentales para el proximo mes</p>
            <h4 class="my-4 border-b-1 p-2">Email</h4>
            <div class="flex bg-primary items-center justify-center h-12 hover:bg-primary-light cursor-pointer" onsubmit="">
               <p class="cursor-pointer">Suscribete</p>
            </div>
        </div>
        <div>
            <h3 class="font-bold text-lg pb-2 border-b-2 border-primary w-32 hover:w-[65%] transition-all duration-300 mb-6">Contactame</h3>
            <div class="flex flex-row items-center gap-2">
                <MapPin class="h-10 w-8" /> <p class="text-gray-300 text-sm">Seis de Julio de Cuellaje</p>
            </div>
           <div class="flex flex-row items-center gap-2">
               <PhoneFill class="h-10 w-8" /> <p class="text-gray-300 text-sm">+593 98 722 0564</p>
           </div>
            <div class="flex flex-row items-center gap-2">
                <MailFill class="h-10 w-8" />
                <a class="flex items-center flex-col sm:flex-row" href="mailto:wendysele07@gmail.com" target="_blank">
                    <p class="text-gray-300 text-sm">wendysele07</p>
                    <p class="text-gray-300 text-sm">@gmail.com</p>
                </a>

            </div>
            <div class="flex flex-row gap-2">
                <SvgAncleFooter color="white" link="https://www.facebook.com/selene.flores.148">
                    <Facebook/>
                </SvgAncleFooter>
                <SvgAncleFooter color="white" link="https://www.instagram.com/">
                    <Instagram/>
                </SvgAncleFooter>
                <SvgAncleFooter color="white" link="https://maps.app.goo.gl/RPgafNSsMhcKqNGe7">
                    <MapPinPin/>
                </SvgAncleFooter>
                <SvgAncleFooter color="white" link="https://www.youtube.com/">
                    <Youtube/>
                </SvgAncleFooter>


            </div>
        </div>
    </div>
    <hr class="mt-20 mb-6 border-gray-500 h-1 "/>
    <div class="flex justify-center items-center py-4 px-8 flex-col gap-5 md:flex-row">
        <div class="flex flex-row gap-1">
            © 2025 SeleDental -  <a href="https://www.uce.edu.ec/web/fod" class="text-primary hover:text-primary-light"> UCE</a>
        </div>
        <div class="flex flex-row gap-4 px-4">
            <FooterText path="Home"  text="Inicio"/>
            <FooterText path="Home" text="Sobre Mi"/>
            <FooterText path="Home" text="Contactos"/>
        </div>
    </div>

</footer>
</body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
<!--<script src="../lib/types/layout.ts"></script>-->
<script>
    import { setupMenuToggle} from '../lib/types/layout.ts';
    import { closeMenu } from '../lib/types/layout.ts';

    document.addEventListener('DOMContentLoaded', setupMenuToggle);
    document.addEventListener('DOMContentLoaded', closeMenu);
</script>
